/**
*	This file contains all theme related color variables
*/


/*
  ===================================================================
	COMMON COLORS
  ===================================================================
*/

$color-main: #fd3a4a;
//$color-main-dark: #d32f2f;
$color-link: #aaa;
$color-link-hover: #ffffff;
$color-black: #212121;
$color-white: #f5f5f5;
$color-gray: #b6b6b6;
$color-dark-gray: #727272;

//$color-danger: #D32F2f;
//$color-success: #7a9d00;

// #fd3a4a